.about-wrapper {
  background: #F4F8FF;
  position: relative;
}

.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: min(6.5%, 85px);
}

.about-header {
  padding-bottom: 30px;
  flex-basis: 100%;
}

.about-text,
.about-image-wrapper {
  flex-basis: 50%;
  font-size: 0;
}

.about-text {
  padding: 4% 5%;
}

.about-image-wrapper {
  overflow-y: hidden;
}

.about-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 4%;
}

.about-description {
  padding-bottom: 5%;
  opacity: 0.9;
}

.about-doc {
  margin-right: 5%;
  display: inline-block;
  max-width: 30%;
}

.about-image {
  float: right;
  width: 125%;
  height: auto;
}


@media screen and (max-width: 960px) {
  .about {
    padding-bottom: 52%;
  }
  .about-text {
    flex-basis: 100%;
    z-index: 1
  }
  .about-description {
    max-width: 85%;
  }
  .about-doc {
    margin-right: 4%;
    max-width: 20%;
  }  
  .about-image-wrapper {
    position: absolute;
    left: 0;
    bottom: 8%;
    width: 100%
  }
}


@media screen and (max-width: 640px) {
  .about {
    padding-bottom: 30%;
  }
  .about-text {
    padding: 30px 7% 42px;
  }
  .about-doc {
    max-width: 35%;
  }
}