.geography {
  padding: 20px 0 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.geography__text {
  flex-basis: 37%;
  align-self: center;
}

.geography__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 1em 0;
  padding-right: 20%;
}

.geography__image-wrapper {
  flex-basis: 60%;
  font-size: 0;
}

.geography__image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 960px) {
  .geography {
    padding-top: 32px;
  }
  .geography__text,
  .geography__image-wrapper {
    flex-basis: 100%
  }
  .geography__image-wrapper {
    margin-top: 24px;
    padding: 0 2%;
  }
}