.page-header-wrapper {
  background: white;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 80px;
}

.page-header {
  display: flex;
  align-items: center;
  height: 80px;
}

.page-header__caption {
  margin-left: 12px;
  padding-bottom: 4px;
}

.page-header__caption-bold {
  font-size: 1.1em;
  font-weight: 700;
  height: 1.1em;
  line-height: 1.1em;
}

.page-header__caption-reg {
  font-size: 0.95em;
  opacity: 0.75;
  min-height: 0.95em;
  line-height: 0.95em;
}

.page-header__nav {
  flex-grow: 1;
  align-self: stretch;
  display: none;
  align-items: stretch;
}

.page-header__gap-before-nav,
.page-header__gap-after-nav {
  flex-grow: 0.5;
}

.page-header__nav-link,
.page-header__phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.page-header__nav-link {
  flex-basis: 20%;
  padding: 0 4px;
  font-size: 0.9rem;
  text-align: center;
  line-height: 82px;
}

.page-header__nav-link:hover {
  background: #4169C1;
  color: white;
}

.page-header__phone {
  margin-left: 10px;
  font-size: 1.35em;
}

.page-header__button {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-left: 2%;
}

.page-header__button-stripe {
  background: black;
  border-radius: 1px;
  margin-top: 8px;
  height: 3px;
}

.page-header__button-stripe:first-child {
  margin-top: 0;
}



@media screen and (min-width: 960px) {
  .page-header__nav {
    display: flex;
  }
  .page-header__gap-before-nav {
    flex-grow: 0.2;
  }
  .page-header__button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .page-header__phone, .page-header__phone-icon {
    display: none;
  }
}