.portfolio-wrapper {
  background: #F4F8FF;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 40px 0;
}

.portfolio__header {
  flex-basis: 100%;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio-arrow-left,
.portfolio-arrow-right {
  flex-basis: 6%;
  font-size: 7em;
  line-height: 0.8em;
  height: 1em;
  color: #4169C161;
}
.portfolio-arrow-left {
  padding-right: 1.5rem;
}
.portfolio-arrow-right {
  padding-left: 1.5rem;
}

.portfolio__pic-wrapper {
  font-size: 0;
  flex-basis: 34%;
  align-self: stretch;
}

.portfolio__pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__text {
  flex-basis: 54%;
  margin: 4% 0;
  padding: 30px 2.5%;
  display: flex;
  flex-flow: row wrap;
}

.portfolio-text-header {
  flex-basis: 100%;
  font-size: 1.2rem;
}

.portfolio-text-caption {
  flex-basis: 75%;
  margin-top: 12px;
}

.portfolio-text-list-header {
  flex-basis: 100%;
  margin-top: 20px;
  padding-bottom: 8px;
}

.portfolio-text-list-item {
  flex-basis: 50%;
  padding: 0.3em 0;
}

.portfolio-button {
  flex-basis: 65%;
  font-size: 1.4rem;
  height: 50px;
  margin-top: 24px;
  border-radius: 25px;
}



@media screen and (max-width: 960px) {
  .portfolio {
    padding-right: 5%;
    padding-left: 5%;
  }
  .portfolio__pic-wrapper,
  .portfolio__text {
    flex-basis: 100%;
  }
  .portfolio__text {
    padding: 30px 5%;
    margin: 0;
  }
  .portfolio-button {
    flex-basis: 75%;
  }
  .portfolio-arrow-left,
  .portfolio-arrow-right {
    flex-basis: 50%;
    padding: 0 1.5rem;
  }
  .portfolio-arrow-left {
    order: 1;
  }
  .portfolio-arrow-right {
    text-align: right;
    order: 2;
  }
}

@media screen and (max-width: 640px) {
  .portfolio-text-list-item,
  .portfolio-button {
    flex-basis: 100%;
  }
}
